.header {
  background: #1a2626;
  text-align: center;
  padding-bottom: 20px;
}
.header i {
  background: #f5f5f5;
}
.header h1 {
  color: #f5f5f5;
}
.hero-image {
  margin-bottom: -5px;
}
@media screen and (min-width: 1000px) {
  .hero-image figure {
    display: flex;
    justify-content: center;
  }
}
.hero-image figure img {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .hero-image figure img {
    width: 70%;
  }
}
.about {
  background: #778899;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 60px;
  }
}
.about h2 {
  width: 100%;
  color: #f5f5f5;
}
.about p,
.about li {
  color: #f5f5f5;
}
@media screen and (min-width: 768px) {
  .about .col {
    width: 48%;
  }
}
.blurb-holder {
  border: 1px purple solid;
  padding: 20px;
  background: #f5f5f5;
}
@media screen and (min-width: 768px) {
  .blurb-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
  }
  .blurb-holder .blurb {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .blurb-holder {
    display: flex;
  }
}
.blurb-holder h4 {
  border: 1px green solid;
}
.blurb-holder ul {
  border: 1px red solid;
}
.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px red solid;
  width: 100%;
}
.near-footer {
  display: flex;
  flex-direction: column;
  background: #778899;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .near-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
  }
}
.near-footer .pic-container {
  border: 1px blue solid;
  display: none;
}
@media screen and (min-width: 768px) {
  .near-footer .pic-container {
    display: flex;
  }
}
.near-footer .pic-container img {
  max-width: 100%;
}
