.page-intro {
    background: @medium;
    .padding-mobile();

    h3, p {
        color: @light;
    }

    @media screen and (min-width: 768px) {
        .padding-tablet();
    }

    @media screen and (min-width: 1200px) {
        .padding-desktop();
    }
}

.display-wrapper {
    display: flex;
    flex-direction: column;
    .padding-mobile();

    @media screen and (min-width: 768px) {
        .padding-tablet();
    }

    @media screen and (min-width: 1200px) {
        .padding-desktop();
    }

    .display-pics {
        display: flex;
        flex-direction: column;
        
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
        }
        margin-left: 50px;
        margin-right: 50px;



    }

    figure {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
        img {
            max-width: 90%;
        }
    }

}