.footer {
    padding: 20px;
    border-top: 10px @medium solid;
    background-color: @more-dark;
    color: @light;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}

.contact-line {
    display: flex;
    align-items: center;

    i {
        padding-right: 10px;
    }

    a {
        color: @light;
        text-decoration: none;
        display: flex;
        align-items: center;

         i {
             display: flex;
             align-items: center;
         }

         &:hover {
             background: @medium;
             border-radius: 5px;
         }
    }
}

.footer-links {
    a {
        text-decoration: none;
        color: @light;
        padding: 5px;
        margin-bottom: 5px;
        
        &:hover {
            background-color: @medium;
        }
    }

    display: flex;
    flex-direction: column;
}

.pic-container {
    display: none;

    // @media screen and (min-width: 1000px) {
    //     display: flex;

    //     img {
    //         max-width: 400px;
    //     }
    // }
}