//variables
@dark: #1a2626;
@medium: #778899;
@light: #f5f5f5;


//mixins
.padding-mobile() {
    padding: 20px;
}

.padding-tablet() {
    padding: 40px;
}

.padding-desktop() {
    padding: 60px;
}

.header {
    background: @dark;
    text-align: center;
    padding-bottom: 20px;
    
    i {
        background: @light;
    }

    h1 {
        color: @light;
    }
}

.hero-image {

    margin-bottom: -5px;
    figure {

        

        @media screen and (min-width: 1000px) {
            display: flex;
            justify-content: center;
        }
        img {
            width: 100%;

            @media screen and (min-width: 1000px) {
                width: 70%;
            }
        }
    }
}

.about {

    background: @medium;
    .padding-mobile();

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        .padding-tablet();
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        .padding-desktop();
    }

    h2 {
        width: 100%;
        color: @light;
    }

    p, li {
        color: @light;
    }

    .col {

        @media screen and (min-width: 768px) {
            width: 48%;
        }
    }
}


.blurb-holder {
    border: 1px purple solid;
    .padding-mobile();
    background: @light;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .padding-tablet();

        .blurb {
            width: 30%;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }

    h4 {
        border: 1px green solid;
    }

    ul {
        border: 1px red solid;
    }
}
.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px red solid;
    width: 100%;
}



.near-footer {
    display: flex;
    flex-direction: column;
    background: @medium;
    .padding-mobile();

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .padding-tablet();
    }

    .pic-container {
        border: 1px blue solid;
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;

        }


        img {
            max-width: 100%;
        }

    }

}