//imports
@import "variables.less";
@import "mixins.less";
@import "header.less";
@import "slideshow.less";
@import "navbar.less";
@import "home-button";
@import "footer";
@import "auxiliary-pages";


* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

li {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
}

.hero-image {

    background: url('../img/kitchen-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;

    @media screen and (min-width: 1000px) {
        max-width: 900px;
        height: 60vh;
        margin: 0 auto;
    }

}





.blurb-holder {
    .padding-mobile();
    background: @light;
    color: @dark;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .padding-tablet();

        .blurb {
            width: 48%;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;

        .blurb {
            width: 30%;
        }
    }

    h4 {
    }

    ul {
    }

    i {
        font-size: 50px;
        color: @medium
    }
}
.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;

    .button-link {
        background-color: @medium;
        width: 50%;
        height: 25%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 5px;
        margin: 5px;

        &:hover {
            background-color: @more-dark;

            a {
                color: @light;
            }
        }
        
        a {
            text-decoration: none;
            color: @light;
        }
    }
}



.near-footer {
    display: flex;
    flex-direction: column;
    background: @medium;
    .padding-mobile();

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .padding-tablet();
    }

    .contact {
        @media screen and (min-width: 768px) {
            width: 45%;
            border: 1px salmon solid;
        }
    }

    .pic-container {
        border: 1px blue solid;
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            width: 45%;
            flex-wrap: wrap;

        }


        img {
            max-width: 100%;
        }

    }

}